<div class="vertical-flex">
  <mat-form-field appearance="fill">
    <mat-label>Item to search for</mat-label>
    <input
      matInput
      #searchInput
      [formControl]="required"
      required
      [matAutocomplete]="auto"
    />
    <mat-error *ngIf="required.invalid"
      >Please enter at least 2 characters</mat-error
    >
    <mat-autocomplete #auto="matAutocomplete">
      <div *ngIf="inputLength > 1">
        <mat-option
          *ngIf="queryResponse$ | async as queryResponseArray"
          (click)="callApi(searchInput.value)"
          [value]="searchInput.value"
        >
          {{ queryResponseArray.length }} "{{ searchInput.value }}" found
        </mat-option>
        <mat-option
          *ngIf="loading"
          (click)="callApi(searchInput.value)"
          [value]="searchInput.value"
        >
          Loading...
        </mat-option>
      </div>
    </mat-autocomplete>
  </mat-form-field>
</div>

<button
  [disabled]="required.invalid"
  [ngClass]="{ 'disabled-button': required.invalid }"
  class="submit-button"
  (click)="callApi(searchInput.value)"
>
  Submit
</button>
