@import "../../variables";
:host {
  display: flex;
  ::ng-deep {
    .mat-form-field-flex {
      background-color: #fff;
      border-radius: 0 !important;
    }
  }
}

mat-form-field {
  width: 440px;
  height: 60px;
}

.submit-button {
  background-color: $fedex-secondary-color;
  font-size: 19px;
  padding: 16px 40px;
  height: 50px;
  border: none;
  color: #fff;
  font-weight: 600;
  margin-left: 3px;
}
.submit-button:hover {
  cursor: pointer;
  transition: 1s;
  transform: scale(1.05);
}

.disabled-button {
  background-color: grey;
  pointer-events: none;
}

.vertical-flex {
  display: flex;
  flex-direction: column;
}
